@model CodeCat.Models.UserModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!--Begin of modal popup window-->

    <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable">
        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
            <span id="ui-dialog-title-dialog" class="ui-dialog-title">Dialog title</span>
            <a class="ui-dialog-titlebar-close ui-corner-all" href="#"><span class="ui-icon ui-icon-closethick">close</span></a>
        </div>
        <div style="height: 200px; min-height: 109px; width: auto;" class="ui-dialog-content ui-widget-content" id="dialog">
            <p>Dialog content goes here.</p>


            <!--Begin of modal popup window-->
            <div id="dialog" title="Basic dialog" class="sign-in-window">
                <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>


                <div id="signin-dialog">
                    <h2>Sign in</h2>

                    @Html.LabelFor(model => model.username, new { htmlAttributes = new { @class = "form-label" } })
                    @Html.TextBoxFor(model => model.username, new { htmlAttributes = new { @class = "form-signin" } })
                    <br />
                    @Html.LabelFor(model => model.password, new { htmlAttributes = new { @class = "form-label" } })
                    @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-signin" } })
                    <br />

                    <!--DASHBOARD is just a fillup, not correct, needs to redirect to view for Dashboard-->
                    <a href="@Url.Action("Dashboard")" class="btn btn-success sign-popup">
                        Sign in
                    </a>

                    <!--DASHBOARD is just a fillup, not correct, needs to redirect to Sign up popup-->
                    <a href="@Url.Action("SignUp")" class="btn btn-success sign-popup">
                        Sign up
                    </a>
                </div>
            </div>
            <!--End of modal popup window-->
        </div>
    </div>

}