@model CodeCat.Models.UserModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="signup-dialog">
        <h2>Sign up</h2>

        @Html.LabelFor(model => model.fullName,  htmlAttributes: new { @class = "form-label" } )
        @Html.TextBoxFor(model => model.fullName, new { htmlAttributes = new { @class = "form-signup" } })
        <br />
        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "form-label" } )
        @Html.TextBoxFor(model => model.username, new { htmlAttributes = new { @class = "form-signup" } })
        <br />
        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "form-label" } )
        @Html.TextBoxFor(model => model.email, new { htmlAttributes = new { @class = "form-signup" } })
        <br />
        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "form-label" } )
        @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-signup" } })
        <br />
        @Html.LabelFor(model => model.confirmPassword, htmlAttributes: new { @class = "form-label" } )
        @Html.PasswordFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-signup" } })
        <br />

        <!--DASHBOARD is just a fillup, not correct, needs to redirect to view for Dashboard-->
        @*<a href="@Url.Action("Dashboard")" class="btn btn-success sign-popup">
            Sign up
        </a>*@
        <input type="submit" class=""btn btn-success sign-popup" value="Sign up" />

    </div>
}