@model CodeCat.Models.UserModel
@{
    ViewBag.Title = "AddUser";
}

<h2>AddUser</h2>


<div class="row sign-in-form">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <!--LOGO-->
            <div class="sign-in-logo-div">
                <img src="~/Images/codecat2_black.png" width="150" height="150" alt="Code Cat Logo" class="sign-up-logo" />
            </div>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.email, new { @class = "form-control" })

                    <!--Validation always shows for some reason... NEED TO FIX-->
                    @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" value="Add user to project" id="create-button" class="btn btn-success">Create</button>
                </div>
            </div>
            }
        </section>
    </div>
</div>