@model CodeCat.Models.ViewModels.DocumentViewModel

@{
    ViewBag.Title = "showDocument";
}

<!--Commented out until the DB is up!!!-->
@*The Tabs above the Ace Editor
    <div>
        <ul class="navDoc nav-tabs">
            @foreach(var DocumendModel in Models.DocumendModel)
            {
                <li role:"presentation" class="@(Model.selectedDocument == DocumendModel.ID ? "active" : "")">
                    <a href="? Document = @DocumendModel.ID">@DocumendModel.name</a>
                </li>
            }
        </ul>
    </div>
*@
<!-- The Tabs above the Ace Editor -->
    <div>
        <ul class="navDoc nav-tabs">
            @foreach (var document in Model.documents) {
                <li role:"presentation" class="@(Model.document.ID == document.ID ? "active" : "")">
                    <a href="? document = @document.ID">@document.name</a>
                </li>
            }
            <!-- /TODO Create New File Tab-->
        </ul>
    </div>


<!-- Tabs on the ACE Editor -->
<div>
    <ul class="navDoc nav nav-pills">
        <li class="active" role:"presentation">
            <a href="#">bla.js</a>
        </li>
        <li role:"presentation">
            <a href="#">jalla.css</a>
        </li>
        <li role:"presentation">
            <a href="#">trallala.html</a>
        </li>
        <li role:"presentation">
            <a href="#">giggle.html</a>
        </li>
    </ul>
</div>

<!--The Ace Editor begin-->
<div class="container">
    <div id="ace-editor">
        @ViewBag.Code
<!--    //This is your javascript code

    function foo(items) {
        var x = "I am Code::Cat";
        return x;
    }
-->
    </div>
</div>

@*
<!-- Save button for Document -->
@using (Html.BeginForm("save", "Document", FormMethod.Post))
{
    <div class="container editor-save-div">
        @Html.HiddenFor(m => m.content, new { @id = "hidden-editor" })
        <input type="submit" value="Save" class="editor-save-button btn btn-success" />

        <a href="@Url.Action("../Document/AddDocument")" class="CREATE-TEST-DELETE-LATER">CREATE DOC</a>
    </div>
}
*@

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        var documentID = @ViewBag.DocumentID;

        var editor = ace.edit("ace-editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");

        /*Should save the form on submit button click*/
        $("form").submit(function () {
            console.log("Hallo");
            console.log($("#hidden-editor").val(editor.getSession().getValue()));
            $("#hidden-editor").val(editor.getSession().getValue());
        });
        var codeHub = $.connection.codeHub;
        var silent = false;

        codeHub.client.onChange = function (changeData) {
            console.log(changeData);

            silent = true;
            editor.getSession().getDocument().applyDelta(changeData);
            silent = false;
        };

        $.connection.hub.start().done(function () {

            codeHub.server.joinDocument(documentID);

            editor.on("change", function (obj) {
                if (silent){
                    return;
                }
                console.log(obj);
                codeHub.server.onChange(obj, documentID);
            });
        });
    </script>
}

<!--Test Gudrunar-->
<!-- Autocomplete -->
<!--
<script>
    ace.require("ace/ext/language_tools");
    var editor = ace.edit("ace-editor");
    editor.setOptions({
        enableBasicAutocompletion: true
    });
</script>
-->
<!-- Trying to save the file -->
<!--
<script>
    editor.getSession().on('change', function (e) {
        thisfile = editor.getValue();
    });
</script>
-->
<!--
<script>
    var lastLine = editor.session.getLength();
    editor.gotoLine(lastLine);
    editor.insert("the new text here"); // or session.setValue
    editor.getValue(); // or session.getValue
</script>
-->
<!--
<!-- Script to override enter button -->
<script>
    /* editor.commands.addCommand({
        name: 'Enter',
        bindKey: {win: 'Enter',  mac: 'Enter'},
        exec: function(editor) {
            editor.gotoLine(editor.session.getLength() + 1);
            editor.insert("\n");
            editor.insert("I'm at the bottom.");
        },
        readOnly: true // false if this command should not apply in readOnly mode
    });*/
</script>
<!--End of test Gudrun-->
<!--The Ace Editor end-->