@model CodeCat.Models.ViewModels.ProjectViewModel
@{
    ViewBag.Title = Model.projectName;
}


<h2>@Html.ActionLink("Dashboard", "../Dashboard/Dashboard") / @ViewBag.Title</h2>

<div class="dashboard-wrapper" id="dashboard-wrapper">
    <!--Create new document button-->
    <section class="col-sm-4 project-box">

        <!--<button type="submit" class="plus-link" onclick="k()"></button>-->

            <script>
                var url = window.location.href;
                var projectID = parseInt(url.substring(url.lastIndexOf('/') + 1));
                console.log(projectID);

                function k() {
                window.location.href = "../../Document/AddDocument/" + projectID;
            };
            </script>

            <button type="submit" onclick="k()" class="well new-box" id="create-new-doc">
                <div class="plus-sign-div">
                    <img src="~/Images/plusplus.png" alt="Add project" class="plus-sign" />
                </div>
                <p>Create a new document</p>
            
            </button>
    </section>

    @using (Html.BeginForm())
    {
    <!--List of projects-->
        foreach (var document in Model.documents)
        {
        <section class="col-sm-4 project-box">

            <section class="well project-box-inner">

                <div>
                    <h3>@Html.DisplayFor(modelItem => document.name)</h3>
                    <!--<p>ID: @Html.DisplayFor(modelItem => document.ID)</p>-->

                    <div class="open-share-doc">
                        <br />
                        <br />
                        @Html.ActionLink("Open", "../Project/ShowDocument", new { id = document.ID }, htmlAttributes: new { @class = "btn btn-fab" })
                        @Html.ActionLink("Delete", "../Project/DeleteDocument", new { id = document.ID }, htmlAttributes: new { @class = "btn btn-fab" })
                    </div>
                </div>
            </section>
        </section>
        }
    }

</div>

