@model CodeCat.Models.DocumentModel
@{
    ViewBag.Title = "AddDocument";
}

<h2>Add Document</h2>

<!--LOGO-->
<div class="sign-in-logo-div">
    <img src="~/Images/kisi4.png" width="170" height="200" alt="Code Cat Logo" class="sign-up-logo" />
</div>

<hr />

@using (Html.BeginForm("addDocument", "Document", FormMethod.Post, new { @class = "add-document-form" }))
{
    @Html.AntiForgeryToken()

    <div class="add-document-div">
        <div class="form-group">
            @Html.LabelFor(m => m.type, new { @class = "control-label label-for-type-dropdown" })
            @Html.EnumDropDownListFor(m => m.type, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.type, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.name, new { @class = "control-label label-for-type-dropdown" })
            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-fab">Create document</button>
    </div>
}