@model CodeCat.Models.ProjectModel

@{
    ViewBag.Title = "AddProject";
}

<h2>Add Project</h2>

<!--LOGO-->
<div class="sign-in-logo-div">
    <img src="~/Images/kisi4.png" width="170" height="200" alt="Code Cat Logo" class="sign-up-logo" />
</div>

<hr />

@using (Html.BeginForm("AddProject", "Dashboard", FormMethod.Post, new { @class = "add-document-form" }))
{
    @Html.AntiForgeryToken()

    <div class="add-document-div">
        <div class="form-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.LabelFor(m => m.name, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
        </div>
        <di>
            <button type="submit" value="Create" id="create-button" onclick="createFeedback()" class="btn btn-fab">Create</button>

            <script>
                function createFeedback() {
                    var name = $(".form-control").val();
                    toastr.success(name + " was added to your projects!");
                };
            </script>
        </di>
    </div>
}