@model CodeCat.Models.ViewModels.DashboardViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="dashboard-wrapper" id="dashboard-wrapper">
    <!--Create new project button-->
    <section class="col-sm-4 create-new-project-box">
        <a href="@Url.Action("AddProject")" class="plus-link">
            <section class="well new-box">
                <div class="plus-sign-div">
                    <img src="~/Images/plusplus.png" alt="Add project" class="plus-sign" />
                </div>
                <p>@Html.ActionLink("Create a new project", "AddProject")</p>
            </section>
        </a>
    </section>

<!--List of projects-->
@foreach (var itemj in Model.projects)
{
    <section class="col-sm-4 project-box">

                <section class="well project-box-inner">
                    <div>
                        <h3>@Html.DisplayFor(modelItem => itemj.name)</h3>
                        <!--<p>ID: @Html.DisplayFor(modelItem => itemj.ID)</p>-->
                        @if (User.Identity.GetUserId() == itemj.creatorUserID)
                        {
                            <p> Author: @User.Identity.Name (you) </p>
                        }
                        else
                        {
                            <p> Author: NOT YOU... </p>
                            //TODO ef hofundurinn er ekki sa innskradi...
                        }

                        <div class="open-share-doc">
                            <br />
                            <br />
                            @Html.ActionLink("Go to project", "../Project/ShowDocument", new { id = itemj.ID }, htmlAttributes: new { @class = "btn btn-fab" })
                            @Html.ActionLink("Share", "../User/Share", new { id = itemj.ID }, htmlAttributes: new { @class = "btn btn-fab" })
                        </div>
                    </div>
                </section>



  
       </section>
}

</div>